* {
    margin: 0%;
    padding: 0%;
    cursor: default;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*::selection {
    background-color: #000;
}

::-webkit-scrollbar {
    width: 0;
}


/*========================================= Nav Bar =========================================*/

.navbar {
    height: 8vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.2rem;
    font-size: 2vmin;
    font-weight: 550;
    z-index: 99;
    color: #fff;
    text-shadow: 0 0.01rem 0.05rem #fff;
    transition: color ease 1s;
    text-transform: uppercase;
    overflow: hidden;
    background-color: #000;
    background-image: url("https://www.transparenttextures.com/patterns/dark-exa.png");
}

#left-navbar,
#middle-navbar,
#right-navbar {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-navbar,
.navbar-item {
    transition: color ease-in-out 0.5s;
}

#left-navbar {
    height: 8vh;
    font-size: 4vmin;
    width: 10vw;
}

#middle-navbar {
    gap: 2vmin;
}

#right-navbar {
    padding: 0 2vw;
    gap: 2vmin;
}

.navbar-icon {
    display: none;
}

.logo-letter img {
    width: 12vmin;
    object-fit: cover;
}

.navbar-item {
    text-decoration: none;
    color: #fff;
    height: 8vh;
    display: flex;
    align-items: center;
}

#left-navbar:hover,
.navbar-item:hover {
    cursor: pointer;
    color: #f1683a;
}

.navbar-ray {
    position: absolute;
    height: 3px;
    width: 50px;
    bottom: 0;
    background-image: linear-gradient(90deg, transparent, #f1683a);
    animation: animate 5.5s infinite;
}

.ri-linkedin-line,
.ri-instagram-line {
    text-decoration: none;
    color: #fff
}

@keyframes animate {
    0% {
        left: 0;
        transform: translate(-100%);
    }
    100% {
        left: 100%;
        transform: translate(0%);
    }
}

@media (max-width: 960px){

    .navbar-item {
        font-size: 1.5vmin;
    }

    #left-navbar {
        width:20vw;
    }
}


/*========================================= Circle =========================================*/

#cursor {
    position: fixed;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 5;
    color: var(--dark-blue);
    font-weight: 600;
    top: 50vh;
    left: 50vw;
    mix-blend-mode: difference;
    transition: width ease-in-out 0.8s, height ease-in-out 0.8s, content ease 10s;
    color: white;
    background-color: #f1683a;
    display: flex;
    overflow: hidden;
}

@media (max-width: 650px) {
    #cursor {
        display: none
    }
}


/*========================================= About Me Page =========================================*/

#about-me {
    padding-top: 8vh;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    text-shadow: 0 0.01rem 0.05rem #fff;
    background-color: #030b0f;
    background-image: url("https://www.transparenttextures.com/patterns/dark-exa.png");
    background-color: #030000;
}

.about-me-left {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.about-me-name h1 {
    text-transform: uppercase;
    font-size: 8vmin;
    font-weight: 900;
    letter-spacing: 0.4rem;
}

.about-me-left h3 {
    margin-top: 2vh;
    font-size: 3vmin;
    letter-spacing: 0.4rem;
}

.about-me-right {
    height: 100%;
    width: 50%;
    font-weight: 500;
    display: flex;
}

.about-me-scroll {
    display: flex;
    width: 33%;
    flex-direction: column;
    overflow: hidden;
}

.about-me-scroller {
    width: 100%;
    border-left: 0.5vw solid #000;
}

.scroll-div {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    color: #000;
    border: 0.5vw solid #000;
    background-color: #fff;
    background-image: url("https://www.transparenttextures.com/patterns/dark-exa.png");
}

.scroll-div h2 {
    text-transform: uppercase;
    font-size: 2.5vmin;
    font-weight: 900;
    letter-spacing: 0.2rem;
}

.scroll-div h4 {
    text-transform: uppercase;
    font-size: 1.5vmin;
}

.scroll-div h4:nth-child(2) {
    margin-top: 0.5vmin;
}

.about-me-scroller-1 {
    animation: scroll 10s linear infinite;
}

.about-me-scroller-2 {
    animation: scroll_reverse 10s linear infinite;
}

.about-me-scroller-3 {
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50%);
    }
}

@keyframes scroll_reverse {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0);
    }
}

.about-me-image {
    position: absolute;
    width: 30vmin;
    height: 30vmin;
    bottom: 5vh;
    left: 45vw;
    border-radius: 50%;
    background-image: url("IMG_20230116_160600.jpg");
    background-size: cover;
}

.about-me-left-center .about-me-name,
.about-me-left-center h3 {
    transition: color ease 1s;
}

.about-me-left-center .current_desg {
    color:#f1683a
}

.about-me-left-center .about-me-name:hover,
.about-me-left-center .detail:hover {
    color: #f1683a
}

.about-me-left-center .current_desg:hover {
    color:#fff
}

@media (max-width: 1160px){
    #about-me {
        flex-direction: column;
        gap: 0
    }

    .about-me-left {
        padding-top: 8vh;
        height: 50vh;
        width: 100%
    }

    .about-me-right {
        padding-top:0;
        height: 50vh;
        width: 100%
    }

    .about-me-image {
        top: 35vh;
        left: 75vw;
    }
}

@media (max-width: 960px){
    .about-me-image {
        display: none;
    }
}


/*========================================= Work data Page =========================================*/

#work-datas{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    text-shadow: 0 0.01rem 0.05rem #fff;
}
#work-datas .work-data-content .work-data{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
    background-color: #000000d4;
}
#work-datas .work-data-content .work-data img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#work-datas .work-data-content .work-data .content{
    position: absolute;
    top: 20%;
    width: 60vw;
    max-width: 80%;
    left: 40%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
}
#work-datas .work-data-content .work-data .company-name{
    font-weight: 550;
    text-transform: uppercase;
    width: 60vw;
    font-size: 2.2rem;
    letter-spacing: 0.5vw;
}
#work-datas .work-data-content .work-data .job-title,
#work-datas .work-data-content .work-data .project-name{
    font-size: 2rem;
    font-weight: 300;
    margin-top: 1.5vh;
    width: 50vw;
    line-height: 6vh;
    letter-spacing: 0.3vw;
    text-transform: capitalize;
}

#work-datas .work-data-content .work-data .job-title {
    color: #f1683a;
}

#work-datas .work-data-content .work-data .project-name{
    color: #fff;
}
#work-datas .work-data-content .work-data .duration{
    width: 20vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2vh;
    text-transform: capitalize;
}

#work-datas .work-data-content .work-data .des{
    margin-top: 2vh;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
}

/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 10vh;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 1.5vw;
}
.thumbnail .work-data{
    width: 12vw;
    height: 35vh;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .work-data img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.2vmin solid;
    border-image-source: linear-gradient(to left, #0000, #fff);
    border-image-slice: 1;
}

.thumbnail .work-data .content{
    color: #fff;
    position: absolute;
    bottom: 1vh;
    left: 1vw;
    right: 1vw;
}
.thumbnail .work-data .content .thumbnail-company-name{
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: #f1683a;
}
.thumbnail .work-data .content .duration{
    display: grid;
    grid-template-columns: repeat(2, 7vw);
    grid-template-rows: 4vh;
    gap: 0.5vw;
    margin-top: 1vh;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}
/* arrows */
.arrows{
    position: absolute;
    bottom: 10%;
    right: 45%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
#work-datas .work-data-content .work-data:nth-child(1){
    z-index: 10;
}

/* animation text in first work-data */

#work-datas .work-data-content .work-data:nth-child(1) .content .company-name,
#work-datas .work-data-content .work-data:nth-child(1) .content .job-title,
#work-datas .work-data-content .work-data:nth-child(1) .content .project-name,
#work-datas .work-data-content .work-data:nth-child(1) .content .des,
#work-datas .work-data-content .work-data:nth-child(1) .content .duration
{
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        filter: blur(0px);
        opacity: 1;
    }
}
#work-datas .work-data-content .work-data:nth-child(1) .content .job-title{
    animation-delay: 1.2s!important;
}
#work-datas .work-data-content .work-data:nth-child(1) .content .project-name{
    animation-delay: 1.4s!important;
}
#work-datas .work-data-content .work-data:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
#work-datas .work-data-content .work-data:nth-child(1) .content .duration{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
#work-datas.next .work-data-content .work-data:nth-child(1) img{
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    from {
        bottom: 10vh;
        left: 50%;
        width: 12vw;
        height: 35vh;
        
    } to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

#work-datas.next .thumbnail .work-data:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
#work-datas.prev .work-data-content .work-data img{
    z-index: 100;
}

@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
#work-datas.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

#work-datas .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

#work-datas.next .time,
#work-datas.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

#work-datas.prev .work-data-content .work-data:nth-child(2){
    z-index: 10;
}

#work-datas.prev .work-data-content .work-data:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 12vw;
        height: 35vh;
        bottom: 10vh;
        left: 50%;
        border-radius: 4vh;
    }
}

#work-datas.prev .thumbnail .work-data:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
#work-datas.next .arrows button,
#work-datas.prev .arrows button{
    pointer-events: none;
}
#work-datas.prev .work-data-content .work-data:nth-child(2) .content .company-name,
#work-datas.prev .work-data-content .work-data:nth-child(2) .content .job-title,
#work-datas.prev .work-data-content .work-data:nth-child(2) .content .project-name,
#work-datas.prev .work-data-content .work-data:nth-child(2) .content .des,
#work-datas.prev .work-data-content .work-data:nth-child(2) .content .duration
{
    animation: contentOut 1s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    #work-datas .work-data-content .work-data .content{
        padding-right: 0;
    }
    #work-datas .work-data-content .work-data .content .job-title{
        font-size: 30px;
    }
}

/*========================================= Skills Page =========================================*/

#skills-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 10vh 10vw;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/dark-exa.png");
    transition: all 1s ease;
}

.skills-heading {
    font-size: 8vmin;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: #fff;
    overflow: hidden;
    z-index: 2;
}

.skills-set {
    font-size: 2vmin;
    font-weight: 1000;
    height: 8vh;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 0 2vw;
    margin-top: 1vh;
    color: #000;
    overflow: hidden;
    /*transition: color ease 1s;*/
    border: 0.5vh solid #000;
    border-radius: 10vh;
    /*background-image: url("images/galaxy.jpg");
    background-size: cover;*/
    background-color: #fff;
    background-image: url("https://www.transparenttextures.com/patterns/dark-exa.png");
    transition: all 1s ease;
}

.skills-set:hover {
    transform: scale(1.1);
}

/* .skills-set:nth-last-child(1) {
    border-bottom: 1px solid #fff;
} */

.skills-set:hover {
    color: #f1683a
}


/*========================================= Skills Page =========================================*/

#contact-page {
    height: 100vh;
    width: 100vw;
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #fff;
    background-image: url("https://www.transparenttextures.com/patterns/dark-exa.png");
}

.contact-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vh 4vw;
    border: 2px solid #000;
    background-color: #000;
    background-image: url("https://www.transparenttextures.com/patterns/dark-exa.png");
    
}

.contact-page-title {
    font-size: 6vmin;
    letter-spacing: 0.4rem;
    color: #fff;
}

.email_id {
    letter-spacing: 0.4rem;
    font-size: 3vmin;
    transition: color ease 1s;
    color: #fff
}

.email_id:hover {
    cursor: default;
    color: #f1683a
}
