* {
    margin: 0%;
    padding: 0%;
    cursor: default;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*::selection {
    background-color: #000;
}


/*========================================= Nav Bar =========================================*/

.navbar {
    height: 8vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 10;
    color: #fff;
    transition: color ease 1s;
    text-transform: uppercase;
    background-color: #000;
    overflow: hidden;
}

#left-navbar,
#middle-navbar,
#right-navbar {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-navbar,
.navbar-item {
    transition: color ease-in-out 0.5s;
}

#left-navbar {
    height: 8vh;
    font-size: 3vw;
    width: 10vw;
}

#middle-navbar {
    gap: 2rem;
}

#right-navbar {
    padding: 0 2vw;
    gap: 2rem;
}

.navbar-icon {
    display: none;
}

.logo-letter img {
    width: 6vw;
    object-fit: cover;
}

.navbar-item {
    text-decoration: none;
    color: #fff;
    height: 8vh;
    display: flex;
    align-items: center;
}

#left-navbar:hover,
.navbar-item:hover {
    cursor: pointer;
    color: #C38D9E;
}

.navbar-ray {
    position: absolute;
    height: 2px;
    width: 50px;
    bottom: 0;
    background-image: linear-gradient(90deg, transparent, #fff);
    animation: animate 6s infinite;
}

.ri-linkedin-line,
.ri-instagram-line {
    text-decoration: none;
    color: #fff
}

@keyframes animate {
    0% {
        left: 0;
        transform: translate(-100%);
    }
    100% {
        left: 100%;
        transform: translate(0%);
    }
}


/*========================================= Circle =========================================*/

#cursor {
    position: fixed;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 5;
    color: var(--dark-blue);
    font-weight: 600;
    mix-blend-mode: difference;
    transition: width ease-in-out 0.8s, height ease-in-out 0.8s, content ease 10s;
    color: white;
    background-color: #C38D9E;
    overflow: hidden;
}


/*========================================= About Me Page =========================================*/

#about-me {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
}

.about-me-left {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #030000;
}

.about-me-name h1 {
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.4rem;
}

.about-me-left h3 {
    margin-top: 2vh;
    font-size: 2rem;
    letter-spacing: 0.4rem;
}

.about-me-right {
    height: 100%;
    width: 50%;
    display: flex;
    padding-top: 8vh;
}

.about-me-scroll {
    display: flex;
    width: 33.33%;
    flex-direction: column;
    overflow: hidden;
}

.about-me-scroller {
    width: 100%;
    border-left: 0.5vw solid #000;
}

.scroll-div {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    color: #000;
    border: 0.5vw solid #000;
    background-color: #fff;
}

.scroll-div h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
}

.scroll-div h4 {
    text-transform: uppercase;
    font-size: 1rem;
}

.about-me-scroller-1 {
    animation: scroll 10s linear infinite;
}

.about-me-scroller-2 {
    animation: scroll_reverse 10s linear infinite;
}

.about-me-scroller-3 {
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50%);
    }
}

@keyframes scroll_reverse {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0);
    }
}

.about-me-image {
    position: absolute;
    width: 30vh;
    height: 30vh;
    bottom: 5vh;
    left: 45vw;
    border-radius: 50%;
    background-image: url("IMG_20230116_160600.jpg");
    background-size: cover;
}

.about-me-left-center .about-me-name,
.about-me-left-center h3 {
    transition: color ease 1s;
}

.about-me-left-center .about-me-name:hover,
.about-me-left-center h3:hover {
    color: #C38D9E
}


/*========================================= Work data Page =========================================*/

#work-data {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    background-color: #000;
}

#footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    height: 12vh;
    width: 100%;
    border-top: 1px solid #000;
    overflow: hidden;
}

.work-data-content {
    height: 88vh;
    width: 100vw;
    padding-top: 8vh;
    overflow: hidden;
    opacity: 0;
}

.work-data {
    position: relative;
    height: 80vh;
    width: 100vw;
    padding-top: 13.5vh;
    padding-left: 6vw;
    padding-right: 6vw;
    color: #fff;
}

.duration {
    position: absolute;
    top: 0;
    font-size: 2vmax;
    letter-spacing: 0.4rem;
    font-size: 500;
    text-transform: uppercase;
    height: 10vmax;
    color: #000;
    z-index: 6;
}

.position {
    position: absolute;
    top: 6.8vh;
    left: 50vh;
    width: 68vw;
    display: flex;
    justify-content: center;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-size: 3.3vmax;
    color: #000;
    background-color: #fff;
    z-index: 5;
}

.project-name {
    position: absolute;
    left: 15vh;
    bottom: 2vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2.5vmax;
    color: #000;
    background-color: #fff;
}

.responsibilities {
    height: 64vh;
    margin-left: 7.5vw;
    width: 80vw;
    display: flex;
}

.responsibilities-tag {
    height: 100%;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    border-right: 1px solid #fff;
    color: #fff;
    background-color: #161616;
}

.responsibilites-data {
    position: relative;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: #fff;
}

.responsibilites-data div {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    background-color: #161616;
}

.company-names {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-weight: 900;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #000;
}

.company-names:hover {
    cursor: pointer;
    color: #C38D9E;
}


/*========================================= Skills Page =========================================*/

#skills-page {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 10vh 10vw;
    background-color: #000;
}

.skills-heading {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: #fff;
    overflow: hidden;
}

.skills-set {
    font-size: 1.4rem;
    height: 10vh;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-top: 1px solid #fff;
    overflow: hidden;
}

.skills-set:nth-last-child(1) {
    border-bottom: 1px solid #fff;
}


/*========================================= Skills Page =========================================*/

#contact-page {
    height: 100vh;
    width: 100vw;
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #fff;
}

.contact-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vh 4vw;
    border: 2px solid #000;
}

.contact-page-title {
    font-size: 4rem;
    letter-spacing: 0.4rem;
    color: #000;
}

.email_id {
    letter-spacing: 0.4rem;
    font-size: 2rem;
    transition: color ease 1s;
    color: #000
}

.email_id:hover {
    cursor: default;
    color: #C38D9E
}


/*========================================= Skills Page =========================================*/

#green-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 2vw;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    text-transform: capitalize;
    writing-mode: vertical-lr;
    background-color: #37ff14;
    filter: blur(10);
    color: #000;
    z-index: 4;
}